<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="utf-8"/>
	<title>Callista Care 1.0</title>

	<link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>
	<div class="l-main">

		<div th:include="layout :: head"></div>

		<header class="l-mainHeader">
			<h2>Tidbok</h2>

			<ul class="pull-right g-segmented-control" style="margin-left:10px;">
				<li>
					<a th:href="@{/appointments/year/create}" class="active">
						<i class="fa fa-plus"></i> Ny
					</a>
				</li>
			</ul>
			<ul class="pull-right g-segmented-control" style="margin-left:10px;">
				<li>
					<a th:href="@{/appointments/day}">
						Dag
					</a>
				</li>
				<li>
					<a th:href="@{/appointments/week}">
						Vecka
					</a>
				</li>
				<li>
					<a th:href="@{/appointments/month}">
						Månad
					</a>
				</li>
				<li>
					<a th:href="@{/appointments/year}">
						År
					</a>
				</li>
			</ul>
		</header>

		<div class="l-workspace">
			<section class="l-mainContent">
				<p>Kommer snart...</p>
			</section>
		</div>
	</div>

	<script th:src="@{/js/libs.js}"></script>
	<script th:src="@{/js/app.js}"></script>

</body>
</html>
