<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="utf-8"/>
	<title>Callista Care 1.0</title>

	<link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>
	<div class="l-main">

		<div th:include="layout :: head"></div>

		<header class="l-mainHeader">
			<h2>Välkommen</h2>
		</header>

		<div class="l-workspace">
			<section class="l-mainContent">
				<p>Välkommen till Callista Care!</p>
			</section>
		</div>
	</div>

	<script th:src="@{/js/libs.js}"></script>
	<script th:src="@{/js/app.js}"></script>

</body>
</html>
