<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="head">
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<a th:href="@{/}" class="navbar-brand">
					Callista Care 1.0
				</a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li>
					<a th:href="@{/appointments}" th:class="${section == 'appointments'} ? 'active'">
						Tidbok
					</a>
				</li>
				<li>
					<a th:href="@{/patients}" th:class="${section == 'patients'} ? 'active'">
						Patienter
					</a>
				</li>
				<li>
					<a th:href="@{/reports}" th:class="${section == 'reports'} ? 'active'">
						Rapporter
					</a>
				</li>
				<li>
					<a th:href="@{/administration}" th:class="${section == 'administration'} ? 'active'">
						Administration
					</a>
				</li>
			</ul>
		</nav>
	</div>

	<div th:fragment="calendar">

		<h2>Tidbok</h2>

		<div class="btn-group" style="margin: -3px 0 0 10px;">
			<button class="btn"><i class="fa fa-chevron-left"></i></button>
			<button class="btn"><i class="fa fa-chevron-right"></i></button>
		</div>

		<ul class="pull-right g-segmented-control" style="margin-left:10px;">
			<li>
				<a th:href="@{/appointments/create}" th:class="${subsection == 'create'} ? 'active'"
						th:if="${subsection == 'day'}">
					<i class="fa fa-plus"></i> Ny
				</a>
			</li>
		</ul>
		<ul class="pull-right g-segmented-control" style="margin-left:10px;">
			<li>
				<a th:href="@{/appointments/day}" th:class="${subsection == 'day'} ? 'active'">
					Dag
				</a>
			</li>
			<li>
				<a th:href="@{/appointments/week}" th:class="${subsection == 'week'} ? 'active'">
					Vecka
				</a>
			</li>
			<li>
				<a th:href="@{/appointments/month}" th:class="${subsection == 'month'} ? 'active'">
					Månad
				</a>
			</li>
			<li>
				<a th:href="@{/appointments/year}" th:class="${subsection == 'year'} ? 'active'">
					År
				</a>
			</li>
		</ul>
	</div>

</body>
</html>
