<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="head">
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<a th:href="@{/}" class="navbar-brand">
					Callista Care 1.0
				</a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li>
					<a th:href="@{/appointments}" th:class="${section == 'appointments'} ? 'active'">
						Tidbok
					</a>
				</li>
				<li>
					<a th:href="@{/patients}" th:class="${section == 'patients'} ? 'active'">
						Patienter
					</a>
				</li>
				<li>
					<a th:href="@{/reports}" th:class="${section == 'reports'} ? 'active'">
						Rapporter
					</a>
				</li>
				<li>
					<a th:href="@{/administration}" th:class="${section == 'administration'} ? 'active'">
						Administration
					</a>
				</li>
			</ul>
		</nav>
	</div>

</body>
</html>
