<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="head">
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<a href="/" class="navbar-brand">
					Callista Care
				</a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="/appointments/">
						Tidbok
					</a>
				</li>
				<li>
					<a href="/patients/">
						Patienter
					</a>
				</li>
				<li>
					<a href="/reports/">
						Rapporter
					</a>
				</li>
				<li>
					<a href="/administration/">
						Administration
					</a>
				</li>
			</ul>
		</nav>
	</div>

</body>
</html>
