<button class="btn" style="margin: -3px 10px 0 0;" {{action 'back'}}>
	<i class="fa fa-chevron-left"></i> Stäng
</button>

<h2>{{patient.firstName}} {{patient.lastName}} ({{patient.civicRegNr}})</h2>
<ul class="pull-right g-segmented-control">
	<li>
		{{#link-to 'notes.create'}}
			<i class="fa fa-plus"></i> Ny
		{{/link-to}}
	</li>
</ul>
<ul class="pull-right g-segmented-control" style="margin-right: 10px;">

	<li>
		{{#link-to 'patient.ecg'}}
			<i class="fa fa-heart"></i> Ekg
		{{/link-to}}
	</li>
	<li>
		{{#link-to 'patient.edit'}}
			<i class="fa fa-user"></i> Patientuppgifter
		{{/link-to}}
	</li>
</ul>
