/*** Variables ************************************************************************************/

$alternateColor: #0b58a3;
$boxColor: #f5f5f5;
$boxBorderColor: #bbb;
$noteColor: #666;
$textColor: #000;

/*** General styles *******************************************************************************/

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: rgb(215, 215, 215);
	background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
	background-image: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
	background-image: -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
	background-image: -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
	background-image: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
	color: $textColor;
	font-family: 'PT Sans', sans-serif;
	font-size: 30px;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1em;
	margin: 0;
}

h1 {
	font-size: 85px;

	&.small {
		font-size: 50px;
		margin-bottom: 20px;
	}

	&.medium {
		font-size: 100px;
	}

	&.large {
		font-size: 150px;
	}

	&.huge {
		font-size: 200px;
	}
}

h2 {
	color: $alternateColor;
	font-size: 50px;

	&.small {
		font-size: 30px;
	}
}

h3 {
	font-size: 40px;
}

h4, h5, h6 {
	font-size: 30px;
	font-weight: normal;
}

.center {
	display: table;
	height: 100%;
	width: 100%;

	& > * {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}

/*** Components ***********************************************************************************/

.ballon {
	position: absolute;
	line-height: 1;
	white-space: nowrap;
	width: auto;

	&.ballon-up:after,
	&.ballon-up:before {
		bottom: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		pointer-events: none;
		position: absolute;
		width: 0;
	}

	&.ballon-up:after {
		border-bottom-color: $boxColor;
		border-width: 20px;
		left: 50%;
		margin-left: -20px;
	}

	&.ballon-up:before {
		border-bottom-color: $boxBorderColor;
		border-width: 26px;
		left: 50%;
		margin-left: -26px;
	}

	&.ballon-down:after,
	&.ballon-down:before {
		top: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		pointer-events: none;
		position: absolute;
		width: 0;
	}

	&.ballon-down:after {
		border-top-color: $boxColor;
		border-width: 20px;
		left: 50%;
		margin-left: -20px;
	}

	&.ballon-down:before {
		border-top-color: $boxBorderColor;
		border-width: 26px;
		left: 50%;
		margin-left: -26px;
	}


	&.ballon-left:after,
	&.ballon-left:before {
		right: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		pointer-events: none;
		position: absolute;
		width: 0;
	}

	&.ballon-left:after {
		border-right-color: $boxColor;
		border-width: 20px;
		top: 40px;
		margin-top: -20px;
	}

	&.ballon-left:before {
		border-right-color: $boxBorderColor;
		border-width: 26px;
		top: 40px;
		margin-top: -26px;
	}
}


.box {
	background-color: $boxColor;
	border: 5px solid $boxBorderColor;
	border-radius: 10px;
	color: $alternateColor;
	font-size: 50px;
	padding: 20px;


	span {
		color: $noteColor;
		font-size: 30px;
		display: block;
	}

	.inner-box {
		border-radius: 20px;
		background-color: lighten($boxBorderColor, 10%);
		color: $noteColor;
		padding: 0 20px;
		margin-right: 10px;
		margin-bottom: 10px;
		font-size: 30px;
		float: left;
		&.lighter {
			background-color: lighten($boxBorderColor, 18%);
		}
	}

	.file-box {
		position: relative;

		&.level1 {
			padding-left: 50px;

			i {
				left: 20px;
			}
		}
		&.level2 {
			padding-left: 100px;

			i {
				left: 70px;
			}
		}
		&.level3 {
			padding-left: 150px;

			i {
				left: 120px;
			}
		}
		&.level4 {
			padding-left: 200px;

			i {
				left: 170px;
			}
		}

		i {
			display: inline-block;
			width: 50px;
			height: 61px;
			border-radius: 6px;
			position: absolute;
			border: 3px solid $alternateColor;
			border-right: 0;
			top: -30px;
			z-index: 1;

		}
		span {
			border-radius: 20px;
			background-color: lighten($boxBorderColor, 10%);
			color: $noteColor;
			float: none;
			display: inline-block;
			padding: 0 20px;
			margin-right: 10px;
			margin-bottom: 10px;
			font-size: 30px;
			position: relative;
			z-index: 2;
			&.lighter {
				background-color: lighten($boxBorderColor, 18%);
			}
		}
	}
}
.uml-box {
	font-size: 40px;
	height: 80px;
	padding-top: 10px;
	text-align: left;
	width: 725px;
	margin-left:100px;
	span {
		float:right;
		padding-top:5px;
	}
}


.uml-connections {
	float: left;
	min-height: 10px;
	padding-top: 40px;
	position: relative;
	width: 100px;
}

.uml-vertical-connections {
	height: 30px;
	min-width: 10px;
	padding-left: 650px;
	position: relative;
}

.uml-line {
	border-bottom: 3px solid $alternateColor;
	color: $textColor;
	font-size: 30px;
	margin-bottom: 15px;
	position: relative;

	&.uml-line-dotted {
		border-bottom: 3px dotted $alternateColor;
		margin-bottom: 30px;
	}

	&.uml-line-fat {
		border-bottom: 20px solid $alternateColor;
	}
}

.uml-vertical-line {
	border-left: 3px solid $alternateColor;
	color: $textColor;
	float: left;
	font-size: 30px;
	height: 100%;
	margin-right: 30px;
	position: relative;
}

.uml-arrow-left {
	padding-right: 10px;
	text-align: right;
}

.uml-arrow-left:before {
	border: solid transparent;
	border-right-color: $alternateColor;
	border-width: 7px;
	border-right-width: 14px;
	bottom: -8px;
	content: " ";
	height: 0;
	left: -10px;
	position: absolute;
	width: 0;
}

.uml-arrow-right {
	padding-left: 10px;
	text-align: left;
}

.uml-arrow-right:after {
	border: solid transparent;
	border-left-color: $alternateColor;
	border-width: 7px;
	border-left-width: 14px;
	bottom: -8px;
	content: " ";
	height: 0;
	position: absolute;
	right: -10px;
	width: 0;


}
.uml-arrow-right.uml-line-fat:after {
	border: solid transparent;
	border-left-color: $alternateColor;
	border-width: 30px;
	border-left-width: 40px;
	bottom: -40px;
	content: " ";
	height: 0;
	position: absolute;
	right: -50px;
	width: 0;
	z-index: 2;


}


.uml-arrow-up:after {
	border: solid transparent;
	border-bottom-color: $alternateColor;
	border-width: 7px;
	border-bottom-width: 14px;
	left: -8px;
	content: " ";
	height: 0;
	position: absolute;
	top: -10px;
	width: 0;
}

.uml-arrow-down:after {
	border: solid transparent;
	border-top-color: $alternateColor;
	border-width: 7px;
	border-top-width: 14px;
	left: -8px;
	content: " ";
	height: 0;
	position: absolute;
	bottom: -10px;
	width: 0;
}



.white-box {
	background-color: $boxColor;
	border-radius: 10px;
	color: $alternateColor;
	font-size: 50px;
	padding: 20px;

	span {
		color: $noteColor;
		font-size: 30px;
		display: block;
	}
}

.box-fixed {
	bottom: auto;
	font-size: 30px;
	height: 100px;
	left: 0;
	position: absolute;
	right: auto;
	top: 0;
	width: 100px;
}

.free-text {
	font-size: 30px;
	left: 0;
	position: absolute;
	top: 0;
}

.browser {
	border: 5px solid $boxBorderColor;
	border-radius: 10px;
	position: absolute;
	right: 0;
	height: 657px;
	width: 990px;

	.toolbar {
		background-color: $boxBorderColor;
		height: 47px;
		position: relative;

		button {
			border: 1px solid #999;
			border-radius: 4px;
			cursor: pointer;
			float: left;
			height: 32px;
			margin-right: 10px;
			padding: 0 9px 0 9px;
			transition: all ease-in-out 0.2;

			&:hover {
				background-color: #999;
			}

			&.back {
				border-bottom-right-radius: 0;
				border-top-right-radius: 0;
				border-right: 0;
				margin-right: 0;
			}

			&.forward {
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
			}

			i {
				float: left;
				font-size: 17px;
				line-height: 32px;
			}
		}

		.buttons {
			float: left;
			left: 5px;
			position: absolute;
			top: 5px;
			width: 150px;
		}

		.address {
			left: 126px;
			position: absolute;
			right: 5px;
			top: 5px;

			div {
				border-radius: 3px;

				background-color: white;
				border: 1px solid #999;
				color: $textColor;
				font-size: 17px;
				height: 32px;
				overflow: hidden;
				padding: 5px;
				text-overflow: ellipsis;
				width: 100%;
			}
		}
	}

	iframe {
		background-color: white;
		border: 0;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		margin: 0;
		margin-bottom: -10px;
		width: 100%;
		height: 600px;
	}
}

.links {
	color: $noteColor;
	font-size: 25px;
	font-weight: normal;
	position: absolute;
	left: 40px;
	bottom: 20px;

	a {
		color: $noteColor;
		font-weight: bold;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

svg {
	pointer-events: none;
	height: 744px;
	left: 0;
	position: absolute;
	top: 0;
	width: 1000px;

	.line {
		fill: none;
		stroke-width: 3px;
		stroke: $alternateColor;
	}

	.arrow {
		fill: none;
		marker-end: url(#markerArrow);
		stroke: $alternateColor;
		stroke-width: 3px;
	}

	.arrow-dashed {
		fill: none;
		marker-end: url(#markerArrow);
		stroke: $alternateColor;
		stroke-dasharray: 4, 4;
		stroke-width: 3px;
	}

	path {
		fill: none;
		stroke-width: 3px;
		stroke: $alternateColor;

	}

	marker {
		path {
			fill: $alternateColor;
			stroke: none;
		}
	}
}

.chart {
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 0;
	top: 20px;

	.bar {
		border: 2px solid #f4771b;
		border-bottom: 0;
		position: absolute;
		bottom: 0;
		background-color: transparentize(#f4771b, 0.6);

		span {
			margin-top: -50px;
			color: black;
			display: block;
		}
	}
}

/*** Source code **********************************************************************************/

code {
	color: $textColor;
	font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
	font-size: 22px;
	line-height: 1.2em;
}

pre[class*="language-"] {
	background-color: $boxColor !important;
	border: 5px solid $boxBorderColor;
	border-radius: 10px;
	margin: 0 0 0 0 !important;
	padding: 20px;
	white-space: nowrap;
	overflow: hidden !important;
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	//font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;


	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #a67f59;
	background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}


.token.regex,
.token.important {
	color: #e90;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}
