@import "../../bower_components/normalize-scss/normalize";
@import "../../bower_components/font-awesome/scss/font-awesome";
@import "mixins";
@import "impress";
@import "theme";

$displayWidth: 950px;
$iPadRatio: 185.7/650;
$iPhoneRatio: 58.6/650;

#intro,
#thanks {
	h1 {
		color: $alternateColor;
		position: absolute;
		left: 105px;
		text-align: right;
		top: 120px;
	}
	h2 {
		color: black;
		position: absolute;
		left: 105px;
		text-align: right;
		top: 65px;
	}
	h3 {
		bottom: 390px;
		left: 585px;
		position: absolute;
	}
	h4 {
		bottom: 350px;
		left: 585px;
		position: absolute;
	}
	.logotype {
		bottom: 100px;
		left: 585px;
		position: absolute;
		width: 300px;
	}
	.app-display {
		position: absolute;
		right: 700px;
		top: 400px;
		width: $displayWidth;
	}
	.app-ipad {
		@include transform-rotate(-5deg);

		position: absolute;
		right: 650px;
		top: 300px;
		width: ($displayWidth * $iPadRatio);
	}
	.app-iphone {
		@include transform-rotate(5deg);

		position: absolute;
		right: 610px;
		top: 500px;
		width: ($displayWidth * $iPhoneRatio);
	}
}

#reality-2 {
	.ballon1 {
		left: 320px;
		bottom: 450px;
	}
	.ballon2 {
		right: 350px;
		top: 450px;
	}
}

#reality-3,
#reality-4 {
	.ballon1 {
		left: 320px;
		bottom: 450px;
	}
	.ballon2 {
		right: 320px;
		top: 450px;
	}
}

#structure-1 {
	margin-left: 250px;
}

#structure-1,
#structure-2 {
	.uml-box {
		float: left;
		margin-left: 0;
		height: 610px;
		width: 400px;
	}
	.box2 {
		text-align: center;
		padding-top: 20px;
	}
}

#structure-3,
#structure-4 {
	.uml-box {
		float: left;
		margin-left: 0;
		height: 610px;
		width: 400px;
	}
	.box2 {
		text-align: center;
		padding-top: 20px;
	}
}

#structure-3 {
	.uml-vertical-connections {
		height: 50px;
		visibility: hidden;
	}
}

#structure-3,
#structure-4 {
	.uml-vertical-connections {
		height: 50px;
	}
	.uml-box {
		height: 450px;

		&.box3 {
			height: 110px;
		}
	}
}

#javascript-1,
#javascript-2,
#javascript-3 {
	.ballon1 {
		right: 220px;
		bottom: 450px;
	}
	.ballon2 {
		left: 200px;
		bottom: 450px;
	}
	.ballon3 {
		right: 230px;
		top: 450px;
	}
	.ballon4 {
		left: 220px;
		top: 450px;
	}

}

#ember-1 {

	.ballon1 {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		bottom: 450px;
		left: 40px;
		width: 920px;
	}

	.ballon2 {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		left: 780px;
		top: 310px;
		height: 525px;
	}

	.ballon3 {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		padding-right: 50px;
		right: 240px;
		text-align: right;
		top: 450px;
		width: 920px;

		&.ballon-up:before,
		&.ballon.ballon-up:after {
			left: 65%;
		}
	}
}

#ember-2 {
	pre {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

#ember-3 {
	pre {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}
}

#ember-4 {
	pre {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		margin-top: 200px;
	}
}

#websockets-2 {
	.ballon1 {
		left: 200px;
		bottom: 450px;
	}
	.ballon2 {
		right: 120px;
		top: 450px;
	}
}

#websockets-3 {
	.ballon1 {
		right: 120px;
		bottom: 450px;
	}
	.ballon2 {
		left: 120px;
		top: 450px;
	}
}

#websockets-4 {
	ul {
		border-bottom: 1px solid $boxBorderColor;
		padding-bottom: 20px;
	}
}

#stomp-1 {

	.ballon1 {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		bottom: 450px;
		left: 40px;
		width: 920px;
	}

	.ballon2 {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		left: 780px;
		top: 310px;
		height: 525px;
	}

	.ballon3 {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		padding-right: 50px;
		right: 240px;
		text-align: right;
		top: 450px;
		width: 920px;

		&.ballon-up:before,
		&.ballon.ballon-up:after {
			left: 65%;
		}
	}
}

#stomp-2 {
	pre {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

#stomp-3 {
	pre {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}
}

#stomp-4 {
	pre {
		border-radius: 0;
		margin-top: 200px;
	}
}

#stomp-5 {
	pre {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		margin-top: 200px;
	}
}

#conclusion-2,
#conclusion-3,
#conclusion-4 {
	.ballon1 {
		left: 150px;
		bottom: 450px;
	}
	.ballon2 {
		right: 150px;
		top: 450px;
	}
}
