<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="utf-8"/>
	<title>Callista Care</title>

	<link rel="stylesheet" href="/css/style.css"/>

</head>
<body>

	<div th:include="layout :: head"></div>

	<header class="l-mainHeader">
		<h2>Tidbok</h2>
		<ul class="pull-right g-segmented-control" style="margin-left:10px;">
			<li>
				<a href="/appointments/create">
					<i class="fa fa-plus"></i> Ny
				</a>
			</li>
		</ul>
		<ul class="pull-right g-segmented-control">
			<li>
				<a href="/appointments/day">
					Dag
				</a>
			</li>
			<li>
				<a href="/appointments/week">
					Vecka
				</a>
			</li>
			<li>
				<a href="/appointments/month">
					Månad
				</a>
			</li>
			<li>
				<a href="/appointments/year">
					År
				</a>
			</li>
		</ul>
	</header>

	<div class="l-workspace">
		<section class="l-mainContent">
			<a href="/appointments/1/edit">Edit</a>
		</section>

		<nav class="l-sideForm l-visible">
			<h3>Bokning</h3>
		</nav>
	</div>

</body>
</html>
